/**
 * =======================================================
 * AURORA CSS - Estilos do Componente Aurora
 * =======================================================
 */

.aurora-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

.aurora-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}

